<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.nanoracket.npr" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COURSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme" >
        <activity
            android:name="edu.nanoracket.npr.home.YourAppMainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.nanoracket.npr.ui.activity.PodcastListActivity"
            android:label="Podcasts"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.nanoracket.npr.ui.activity.StoryActivity"
            android:parentActivityName="edu.nanoracket.npr.home.YourAppMainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".home.YourAppMainActivity" />
        </activity>
        <activity android:name="edu.nanoracket.npr.ui.activity.PodcastActivity" >
        </activity>
        <activity
            android:name="edu.nanoracket.npr.ui.activity.ArticleActivity"
            android:parentActivityName="edu.nanoracket.npr.home.YourAppMainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".home.YourAppMainActivity" />
        </activity>

        <service
            android:name="edu.nanoracket.npr.music.MusicService"
            android:enabled="true"
            android:exported="false" >
        </service>
        <service
            android:name="edu.nanoracket.npr.service.NewsUpdateService"
            android:exported="false" >
        </service>

        <provider
            android:name="edu.nanoracket.npr.data.ArticleProvider"
            android:authorities="edu.nanoracket.npr.ARTICLES"
            android:enabled="true"
            android:exported="false" >
        </provider>
    </application>

</manifest>
